<div class="app">
  <h3>Airline Passengers</h3>
  {{ passengers.length }}
  <ul>
    <li *ngFor="let p of passengers; let i = index">
      {{ i }}: {{ p.fullname }}
      <!--<span class="status"-->
      <!--[class.checked-in]="p.checkedIn"></span>-->
      <span class="status"
            [ngClass]="{'checked-in': p.checkedIn}"
      ></span>
      {{ p.checkedIn }}
      <span class="status"
            [style.backgroundColor]="(p.checkedIn ? 'red' : 'green')"
      ></span>
      <div class="date">
        Check in date:
        {{ p.checkedInDate | date: 'yMMMMd' | uppercase}}
      </div>

    </li>
  </ul>
</div>
