<div>

  <div>{{detail.fullname}}</div>
  <div>
      <span class="status"
            [ngClass]="{'checked-in': detail.checkedIn}"
      ></span>

  <!--<span class="status"-->
  <!--[class.checked-in]="detail.checkedIn"></span>-->
  <!-- <span class="status"
        [style.backgroundColor]="(detail.checkedIn ? 'red' : 'green')"
  ></span> -->
  <div class="date">
    Check in date:
    {{ detail.checkedInDate | date: 'long' | uppercase}}
  </div>
  <div>
    Children number: {{ detail.children?.length || 0}}
  </div>
  </div>
</div>
